/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
.wp-block[data-type='wjd/hero-cta-slide'] {
    float: left;
    margin: 0;
    padding: 0;
    width: 25%;
    &:nth-child(4n + 1) {
        clear: left;
    }
}
