/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
.wp-block[data-type='wjd/carouselcard'] {
    padding: 1px 5px;
    .card-wrap {
        &:after {
            clear: both;
            content: ' ';
            display: block;
        }
    }
    .card-media {
        float: left;
        width: 50%;
        button {
            img {
                height: 100%;
                width: 100%;
            }
        }
    }
    .card-content {
        float: left;
        width: 50%;
        span.card-no {
            display: block;
            font-size: 6.667em;
            line-height: 1.2;
            font-weight: 700;
        }
        .card-headline {
            position: relative;
            .editor-rich-text {
                > * {
                    background-color: #fff;
                    display: block;
                    margin-bottom: 5px;
                    min-width: 10px;
                    padding: 5px;
                    &.is-selected {
                        outline: 1px solid #013493;
                    }
                }
            }
        }
    }
    .color-palette-0 {
        background-color: #e5eaf4;
    }
    .color-palette-1 {
        background-color: #013493;
        h3.rich-text {
            color: #fff;
        }
        p.rich-text {
            color: #fff;
        }
    }
}
