/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
.wp-block[data-type='wjd/card'] {
    padding: 1px 43px;
    .card-media {
        &:after {
            clear: both;
            content: ' ';
            display: block;
        }
        &.left> .editor-rich-text {
            float: left;
            text-align: left;
            width: 100%;
        }
        &.right> .editor-rich-text {
            float: left;
            text-align: right;
            width: 100%;
        }
        &.left> button {
            float: left;
        }
        &.right> button {
            float: right;
        }
    }
    .card__image-credit {
        &::before {
            content: '© ';
            position: inline;
        }
    }
    .card-meta {
        &::after {
            clear: both;
            content: '';
            display: block;
        }
        > * {
            float: left;
            > * {
                background-color: #fff;
                display: block;
                min-width: 10px;
                padding: 5px;
                &.is-selected {
                    outline: 1px solid #013493;
                }
            }
            .card__meta-text {
                color: #41d4ae;
                font-weight: bold;
                margin-left: 20px;
                text-transform: uppercase;
            }
        }
    }
    .card-headline,
    .link-controls {
        .editor-rich-text {
            > * {
                background-color: #fff;
                display: block;
                margin-bottom: 5px;
                min-width: 10px;
                padding: 5px;
                &.is-selected {
                    outline: 1px solid #013493;
                }
            }
        }
    }
    .color-palette-0 {
        background-color: #e5eaf4;
    }
    .color-palette-1 {
        background-color: #013493;
        .link-controls small {
            color: #e5eaf4;
        }
        p.rich-text {
            color: #fff;
        }
        small.card__image-credit {
            color: #fff;
        }
    }
    .is-plain {
        padding: 20px;
        .card-meta,
        .card-headline,
        .link-controls {
            padding: 10px;
        }
        .card-media {
            float: left;
            padding: 10px;
            position: relative;
            width: 25%;
            width: calc(25% - 20px);
            img {
                margin: -6px -12px;
                max-width: calc(100% + 12px);
            }
            .card__image-credit {
                bottom: -20px;
                position: absolute;
                right: 10px;
            }
        }
        .card-content {
            border: 1px dotted lightgrey;
            float: left;
            min-height: 70px;
            padding: 0;
            width: calc(75% - 2px);
            p {
                margin: 0;
            }
        }
        .link-controls * {
            font-size: 15px;
        }
        .link-controls span {
            margin-left: 5px;
        }
    }
    .v-card {
        &.default,
        &.is-mirrored,
        &.is-vertical {
            .card-content,
            .link-controls {
                padding: 10px;
            }
            .card-media {
                img {
                    width: calc(100% + 24px);
                    height: calc(100% + 12px);
                    object-fit: cover;
                    margin: -6px -12px;
                    max-width: calc(100% + 24px);
                }
                &.image-top-left img {
                    object-position: top left;
                }
                &.image-top-center img {
                    object-position: top center;
                }
                &.image-top-right img {
                    object-position: top right;
                }
                &.image-middle-left img {
                    object-position: center left;
                }
                &.image-middle-center img {
                    object-position: center;
                }
                &.image-middle-right img {
                    object-position:  center right;
                }
                &.image-bottom-left img {
                    object-position: bottom left;
                }
                &.image-bottom-center img {
                    object-position: bottom center;
                }
                &.image-bottom-right img {
                    object-position: bottom right;
                }
            } 
        }
        &.default,
        &.is-mirrored {
            flex-wrap: wrap;
            .card-media,
            .card-content,
            .link-controls {
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                width: 50%;
            }
            .card-content,
            .link-controls {
                padding: 10px;
            }
        }
        &.is-mirrored {
            .card-media {
                order: 2;
            }
            .card-content {
                order: 1;
            }
            .link-controls {
                order: 3;
            }
        }
    }
}
