/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
.wp-block[data-type='wjd/hero-cta'] {
    .block-editor-inner-blocks {
        .block-editor-block-list__layout {
            &::after {
                clear: both;
                content: '';
                display: block;
                position: relative;
            }
        }
    }
}
