/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.row {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    @for $i from 1 through 12 {
        .col-#{$i} {
            box-sizing: border-box;
            flex: 0 0 ((100% / 12) * $i);
            max-width: ((100% / 12) * $i);
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            position: relative;
            width: 100%;
        }
    }
}

.v-card {
    background-color: #e5eaf4;
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    position: relative;
    word-break: break-word;
    .card__image-wrapper {
        display: flex;
        flex-basis: 50%;
        flex-direction: column;
        position: relative;
        .figure {
            height: 100%;
            margin: 0;
            overflow: hidden;
        }
        .figure__image-wrapper {
            display: block;
            height: 100%;
            overflow: hidden;
            position: relative;
            &::after {
                background-color: #41d4ae;
                bottom: 0;
                content: '';
                height: .3125rem;
                left: 0;
                position: absolute;
                width: 100%;
                z-index: 0;
            }
        }
        .figure__image {
            display: block;
            height: 100%;
            img {
                display: block;
                height: 100%;
                max-width: 100%;
                object-fit: cover;
                object-position: 50% 50%;
                width: 100%;
            }
        }
        .card__image-credit {
            bottom: -.3125rem;
            color: #a4a9ad;
            font-size: .8125rem;
            height: 1.625rem;
            overflow: hidden;
            position: absolute;
            text-align: right;
            text-overflow: ellipsis;
            transform: translateY(100%);
            white-space: nowrap;
            width: 100%;
            z-index: 10;
        }
    }
    .card__content {
        display: flex;
        flex-basis: 50%;
        flex-direction: column;
        flex-grow: 1;
        padding: 2vw;
        .card__meta-data {
            list-style: none;
            margin-bottom: 1.2rem;
            margin-top: 0;
            padding: 0;
            .is-date {
                color: #868a92;
                display: inline-block;
                margin-right: .625rem;
            }
            .is-text {
                color: #41d4ae;
                display: inline-block;
                font-weight: bold;
                letter-spacing: .05em;
                text-transform: uppercase;
            }
        }
        .card__main {
            flex-grow: 1;
            font-size: 1.125rem;
            line-height: 1.4;
            .card__headline {
                font-size: 1.5rem;
                font-weight: normal;
                margin-bottom: 1.2rem;
                margin-top: 0;
            }
            .rte-content {
                line-height: 1.4;
                margin-bottom: 0;
                > *:first-child {
                    margin-top: 0;
                }
                > *:last-child {
                    margin-bottom: 0;
                }
                p {
                    line-height: 1.4;
                }
            }
        }
        .card__footer {
            margin-top: 1.875rem;
            .card__cta {
                color: #1d1d1b;
                outline: 0;
                i {
                    display: none;
                }
            }
        }
    }
}

.slider-tray {
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
    &::after,
    &::before {
        color: #003594;
        display: block;
        font-family: 'Font Awesome 5 Free';
        font-size: 40px;
        height: 40px;
        line-height: 40px;
        margin-top: -20px;
        position: absolute;
        top: 50%;
    }
    &::after {
        content: '\f054';
        right: 0;
    }
    &::before {
        content: '\f053';
        left: 0;
    }
}
.grid {
    margin: 0 -20px 0 0;
    .grid-item .v-card {
        margin-bottom: 20px;
    }
    &.grid-12 {
        .grid-sizer,
        .grid-item {
            width: calc(100% - 20px);
        }
    }
    &.grid-6 {
        .grid-sizer,
        .grid-item {
            width: calc(50% - 20px);
        }
    }
    &.grid-4 {
        .grid-sizer,
        .grid-item {
            width: calc(33.3333% - 20px);
        }
    }
    &.grid-3 {
        .grid-sizer,
        .grid-item {
            width: calc(25% - 20px);
        }
    }
    &.grid-2 {
        .grid-sizer,
        .grid-item {
            width: calc(16.6666% - 20px);
        }
    }
}

.views-row {
    .v-card {
        flex-direction: row;
    }
}
.load-more {
    background: none;
    background-color: #fff;
    border-color: #013493;
    border-radius: 4px;
    border-style: solid;
    border-width: .125rem;
    color: #013493;
    display: table;
    display: table;
    font-size: inherit;
    font-weight: bold;
    margin: 0 auto;
    padding: 1em 1em;
    text-align: center;
    text-transform: uppercase;
}
